<!DOCTYPE html>
<html>
  <head>
    <title>Controller model: <%= title %></title>
    <%- stylesheet_link_tag('reset', 'scaffold') %>
    <%- javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'rails', 'application') %>
    <%- csrf_meta_tag() %>
  </head>
  <body>
    <% var flash = request.flash('info').pop(); if (flash) { %>
    <div class="flash info"><%- flash %></div>
    <% } %>

    <% flash = request.flash('error').pop(); if (flash) { %>
    <div class="flash error"><%- flash %></div>
    <% }; %>

    <div class="wrap">
      <%- body %>
    </div>
  </body>
</html>
