<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active"><a href="<%- pathTo.{{ models }} %>">{{ models }}</a> <span class="divider">/</span></li>
</ul>

<div class="page-header">
    <h1>Index of {{ model }}</h1>
</div>

<div class="row">
    <div class="span12">
        <p><%- link_to('<i class="icon-plus icon-white"></i> New {{ model }}', pathTo.new_{{ model }}, {class: 'btn btn-primary'}) %></>
    </div>
</div>

<div class="row">
    <div class="span12">
        <% if ({{ models }}.length > 0) { %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% {{ models }}.forEach(function ({{ model }}) { %>
                <tr>
                    <td><strong><%- link_to('{{ model }} #' + {{ model }}.id, pathTo.{{ model }}({{ model }})) %></strong></td>
                    <td>
                        <%- link_to('<i class="icon-edit"></i> Edit', pathTo.edit_{{ model }}({{ model }}), {class: 'btn btn-mini'}) %>
                        <%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.{{ model }}({{ model }}), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
        <p class="alert alert-block alert-info">
            <strong>No {{ models }} were found.</strong>
        </p>
        <% } %>
    </div>
</div>
