<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.{{ models }} %>">{{ models }}</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">New {{ model }}</a></li>
</ul>

<div class="page-header">
    <h1>New {{ model }}</h1>
</div>

<% var form = formFor({{ model }}, {action: pathTo.{{ models }}, method: 'POST', id: "{{ model }}-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create {{ model }}', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.{{ models }}, {class: 'btn'}) %>
</div>
<%- form.end() %>
